spring:
  application:
    name: base

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://${DB_HOST:10.210.40.40}:${DB_PORT:3306}/${DB_NAME:user_data}?createDatabaseIfNotExist=true&useUnicode=true&characterEncoding=utf8&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: ${DB_USER:kyc_uat}
    password: ${DB_PASSWORD:ILoveKYC}

    hikari:
      maximum-pool-size: 50
      minimum-idle: 2
      connection-timeout: 30000
      idle-timeout: 600000
      max-lifetime: 1800000
      auto-commit: true
      leak-detection-threshold: 60000
      data-source-properties:
        cachePrepStats: true
        prepStmtCacheSize: 250
        prepStmtCacheSqlLimit: 2048
        useServerPrepStats: true

  jpa:
    database: mysql
    open-in-view: false
    show-sql: false
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true

    data:
      redis:
        host: ${REDIS_HOST:10.210.40.176}
        port: ${REDIS_PORT:6379}
        password: ${REDIS_PASSWORD:}
        timeout: 2000ms

    cache:
      type: redis

  task:
    execution:
      pool:
        core-size: 8
        max-size: 16
        queue-capacity: 1000
      thread-name-prefix: async-


server:
  port: ${SERVER_PORT:8080}

logging:
  level:
    root: INFO
    org.hibernate.SQL: WARN
    org.hibernate.type.descriptor.sql: WARN

management:
  endpoints:
    web.exposure.include: health,info,prometheus
  endpoint.health.probes.enabled: true
  tracing.sampling.probability: 1.0

springdoc:
  api-docs:
    enabled: true
    path: /v3/api-docs
  swagger-ui:
    enabled: true
    path: /swagger-ui.html
    display-request-duration: true
    tryItOutEnabled: true
    filter: true

security:
  jwt:
    private-key-path: ./src/main/resources/keys/jwtRS256-private.pem
    public-key-path:  ./src/main/resources/keys/jwtRS256-public.pem


